[submodule "Cobalt/vendor/spdlog"]
	path = Cobalt/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Cobalt/vendor/GLFW"]
	path = Cobalt/vendor/GLFW
	url = https://github.com/spasatron/glfw
[submodule "Cobalt/vendor/imgui"]
	path = Cobalt/vendor/imgui
	url = https://github.com/spasatron/imgui
[submodule "Cobalt/vendor/glm"]
	path = Cobalt/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Cobalt/vendor/free-type"]
	path = Cobalt/vendor/free-type
	url = https://github.com/spasatron/freetype-windows-binaries
